# BEGIN GFE
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^sortby/(.+[^/])/sortorder/(.+[^/])/?$ /index.php?by=$1&order=$2 [QSA,L]
RewriteRule ^browse/(.+[^/])/sortby/(.+[^/])/sortorder/(.+[^/])/?$ /index.php?dir=$1&by=$2&order=$3 [QSA,L]
RewriteRule ^browse/(.+[^/])/?$ /index.php?dir=$1 [QSA,L]
RewriteRule ^viewing/(.+[^/])/?$ /view.php?file=$1 [QSA,L]
RewriteRule ^download/(.+[^/])/?$ /view.php?file=$1&dl=1 [QSA,L]
</IfModule>
# END GFE